*{margin: 0; padding: 0;}




body{
    height: 3000px;
}
/*******************sticky*******************/
.header{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 200px;
    background-color: #ccc;
}
.lnb{
    position: sticky;
    top: 0; 
    width: 100%;
    height: 50px;
    background-color: yellow;
}

/***********tab menu**************/

#tab01, #tab02, #tab03{display: none;}

#tab01:checked ~ .sheet .sheet_01{display: block;}
/* #tab01:checked ~ .sheet .sheet_02{display: none;}
#tab01:checked ~ .sheet .sheet_03{display: none;} */

/* #tab02:checked ~ .sheet .sheet_01{display: none;} */
#tab02:checked ~ .sheet .sheet_02{display: block;}
/* #tab02:checked ~ .sheet .sheet_03{display: none;} */

/* #tab03:checked ~ .sheet .sheet_01{display: none;}
#tab03:checked ~ .sheet .sheet_02{display: none;} */
#tab03:checked ~ .sheet .sheet_03{display: block;}

#tab01:checked ~ .label .label_01{background-color: blanchedalmond;}
#tab02:checked ~ .label .label_02{background-color: blanchedalmond;}
#tab03:checked ~ .label .label_03{background-color: blanchedalmond;}

.tab_menu{
    width: 1000px;
    height: 450px;
    margin: 0 auto;
}
.tab_menu .sheet div{
    display: none;
    width: 1000px;
    height: 400px;
    background-color: blanchedalmond;
    
}

.tab_menu .label{
    overflow: hidden; /*float에 깨짐*/
}
.tab_menu .label label{
    width: 150px;
    height: 50px;
    display: block;
    background-color: #ccc;/*체크안됫을때*/
    text-align: center;
    line-height: 50px;
    float: left;
    border-radius: 15px 15px 0 0;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
