*{margin: 0; padding: 0;}
li{list-style: none;}
a{
    color: black; 
    text-decoration: none;
}

.lnb_01, .lnb_02, .lnb_03, .lnb_04, .lnb_05{
    width: 1000px;
    height: 50px;
    margin: 0 auto;
}
.lnb_01 li{
    width: 200px;
    height: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    line-height: 50px;
    float: left;
    cursor: pointer;
    transition: all 0.5s;
}
.lnb_01 li:hover{
    background-color: #ccc;
    color: black;
}

/******lnb02*******/
.lnb_02{}
.lnb_02 li{
    width: 200px;
    height: 50px;
    float: left;
}
.lnb_02 li a{
    display: block; /*a는 인라인요소,, display block = width 100%*/
    text-align: center;
    line-height: 50px;
    background-color: cadetblue;
    color: #fff;
    transition: all 0.5s;
}
.lnb_02 li a:hover{
    background-color: #ccc;
    color: black;
}



/***************lnb03*****************/
.lnb_03 li{
    width: 200px;
    height: 50px;
    float: left;
    
}
.lnb_03 li a{
    display: block;
    background-color: black;
    color: #fff;
    text-align: center;
    line-height: 50px;
    
}
.lnb_03 li li{
    display: none;
    
}
.lnb_03 li:hover li{
    /* display: block; */

}
.lnb_03:hover li li{
    display: block; /*transition 사용못함 사용하려면 opacity 사용해야함*/
}

.lnb_03>li>a:hover{
    background-color: #ccc;
}


.lnb_03 li li a:hover{
    background-color: bisque;
    color: black;
}

/*pull down*/

.lnb_03 ul{
    height: 0px;
    overflow: hidden;
    transition: height 0.3s;
}
.lnb_03:hover ul{
    height: 250px;
}
.lnb_03{
    z-index: 2; /*position이 있어야 적용된다*/
    position: relative; /*위치에 영향을 주지 않는다*/
}


/********lnb_04********/
.lnb_04{
    z-index: 1; /*zindex는 position이 있어야한다*/
    position: relative;
}
.lnb_04 li{
    width: 200px;
    height: 50px;
    float: left;
}
.lnb_04 li a{
    display: block;
    background-color: black;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

.lnb_04 li li{
    display: none;
}
.lnb_04 li:hover li{
    display: block;
}

.lnb_04>li>a:hover{
    background-color: #ccc;
}
.lnb_04 li li a:hover{
    background-color: bisque;
    color: black;
}
/*pull down*/
.lnb_04 ul{
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
}
.lnb_04:hover ul{
    height: 250px;
}

/******가로로 떨어지게*******/
.lnb_04 ul{
    width: 1000px;
}


/*********lnb05***************/
.lnb_05 li{
    width: 200px;
    height: 50px;
    float: left;
}
.lnb_05 li a{
    display: block;
    background-color: black;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
.lnb_05 li a:hover{
    background-color: #ccc;
}

.lnb_05 li li{
    display: none;
}
.lnb_05 li:hover li{
    display: block;
} 
.lnb_05 li li a:hover{
    background-color: bisque;
    color: black;
}


.lnb_05 ul {
    width: 0;
    height: 0;
    overflow: hidden;
    transition: width 0.2s;
}
.lnb_05:hover ul{  
    width: 1000px;
    height: 50px;
    

}

/* .lnb_05 li ul{
    width: 0;
    height: 0px;
    overflow: hidden;
    transition: width 0.3s;

}
.lnb_05 li:hover ul{
    width: 1000px;
    height: 50px;
    
}
.lnb_05 li:hover ul li{
    float: left;
} */


/****************popup****************/
/* '~'은 id에 해당하는 태그의 형제(같은레벨)들 중에서 아래에 있는(동생) 태그*/
#popup_chk{
    display: none;
}
#popup_chk:checked ~ .popup {display: block;}
#popup_chk ~ .popup {display: none;}

.popup{
    z-index: 9998;/*절대 밑에 깔려서는 안된다는 의미*/
    width: 300px;
    height: 300px;
    background-color: lightblue;
    padding: 5px;
    position: absolute;
    top: 100px; left: 100px; /*팝업은 떠 있어야함*/
}
.popup p{
    width: 300px;
    height: 250px;
    border: 1px solid black;
}
.popup .popup_close{
    text-align: right;
    margin-left: 280px;
    margin-top: 20px;
    /* display: block; */
}


/***********************************************/
#popup_chk2{
    display: none;
}
#popup_chk2:checked ~ .popup2{display: block;}
#popup_chk2 ~ .popup2{display: none;}

.popup2{
    z-index: 9999;
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    padding: 5px;
    position: absolute;
    top: 200px; left: 200px;

}
.popup2 p{
    width: 300px;
    height: 250px;
    border: 1px solid black;
}

.popup2 .popup_close2{
    text-align: right;
    margin-left: 280px;
    margin-top: 20px;
   
}


/******************popup icon box*****************************/
.popup_icon_box{}
#icon_chk{
    display: none; /*chk 박스 감추기*/
}
#icon_chk:checked ~ .icon{display: block;}/*체크박스에 체크가 되어있으면 보이고*/
#icon_chk ~ .icon{display: none;}/*체크박스에 체크가 되어 있지 않으면 보이지않는다*/

body{height: 3000px;}
.icon{
    position: fixed;
    top: 500px; left: 100px;
    width: 200px;
    height: 200px;
    animation: popup_icon ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes popup_icon{
    0%{top: 500px;}
    50%{top: 450px;}
    100%{top: 500px;}
}

.icon div div{
    width: 200px;
    height: 200px;
    background-color: darkkhaki;
    border-radius: 100px;
    text-align: center;
    line-height: 200px;
}
.icon_inner{
    width: 200px;
    height: 200px;
    position: relative;/*icon label의기준*/
}
.icon label{
    display: block;
    width: 10px; height: 20px;
    position: absolute;
    bottom: 0px; right: 0;
    border: 1px solid black;
}
/********************************lnb 06********************************/
#ham_chk{display: none;}
/* #ham_chk:checked ~ .menu_box .menu_list{display: block; }
#ham_chk ~ .menu_box .menu_list{display: none;} */

#ham_chk:checked ~ .menu_box .menu_list{height: 300px;} /*transition 줄때*/


#ham_chk:checked ~ .menu_box .lnb_06 .menu_close{display: block;}
#ham_chk:checked ~ .menu_box .lnb_06 .menu_open{display: none;}

#ham_chk ~ .menu_box .lnb_06 .menu_close{display: none;}
#ham_chk ~ .menu_box .lnb_06 .menu_open{display: block;}

.menu_box{
    width: 1050px;
    margin: 0 auto;
}

.menu_box .lnb_06{
    width: 1050px;
    height: 50px;
}

.menu_box .lnb_06 label{
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    float: left;
}
.menu_box .lnb_06 ul{
    width: 1000px;
    float: left;
    
}

.menu_box .lnb_06 ul li{
    width: 200px;
    height: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    line-height: 50px;
    float: left;
}

.menu_box .menu_list{
    width: 1050px;
    /* height: 200px; */
    height: 0;
    overflow: hidden;
    background-color: #ccc;
    transition: all 0.3s;
    
}

/************************wing banner******************************/
#wing_chk{display: none;}
#wing_chk:checked ~ .wing_banner .wing {right: 0;} 
#wing_chk ~ .wing_banner .wing{display: none;} 


#wing_chk:checked ~ .wing_banner .wing_close{display: block;}
#wing_chk:checked ~ .wing_banner .wing_open{display: none;}

#wing_chk ~ .wing_banner .wing_close{display: none;}
#wing_chk ~ .wing_banner .wing_open{display: block;}


.wing_banner{
    width: 330px;
    height: 100vh;
    
    position: fixed;
    top: 0; right: -300px;
    transition: all 0.3s;
}

.wing_banner label{
    display: block;
    width: 30px;
    height: 30px;
    background-color: yellowgreen;
    float: left;
    margin-top: 200px;
}
.wing_banner .wing{
    width: 300px;
    height: 100%;
    background-color: #ccc;
    float: left;
}


/**********Top**********/
.top_btn{
    position: fixed;
    bottom: 100px; right: 100px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: red;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
} /*a태그 href의 임시링크 #은 페이지의 탑으로올라감*/