@charset "UTF-8";

*{margin: 0; padding: 0;}
li{list-style: none;}
a{
    color: #fff;
    text-decoration: none;
}


.container{
    width: 1400px;
    margin: 0 auto;
}
body{
    height: 100vh;
    background: rgba(0, 0, 0, 0.8) url(img/Cover_anni40-50_1920x800.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: hue;
    
}

.wrap{}


/*header*/
header{
    border-bottom: 1px solid #ddd;
    height: 100px;
}
header .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header .container .logo{
    width: 150px;
}
header .container .logo a{}
header .container .logo a img{
    width: 100%;
}

header .container .menu_wrap{}
header .container .menu_wrap ul{
    display: flex;
    width: 800px;
    justify-content: space-between;
    

    
}
header .container .menu_wrap ul li{}
header .container .menu_wrap ul li a{}

header .container .search{}
header .container .search a{}
header .container .search a i{}


/*main, slider*/

.main{margin-top: 5%;}
.main .slick-slide{/*각각의 슬라이드*/
    display: flex;
    position: relative;/*vespa tit의 기준*/
}
.left_area{
    width: 50%;
    height: 80vh;
    
}
.right_area{
    width: 50%;
    height: 80vh;
    
}

.left_area{
    
}
.left_area .vespa_img{
    width: 120%;
    padding-top: 160px;
   
}


.left_area .vespa_img img{
    width: 100%;
}

/*right area*/

.right_area{
    color: #fff;
    padding-top: 20%;
    padding-left: 10%;
    box-sizing: border-box;
}
.right_area .middle_txt{}
.right_area .middle_txt ul{
    padding-left: 5%;
}
.right_area .middle_txt ul li{
    position: relative; /*li before 기준*/
    font-size: 20px;
    padding-left: 12px;
    
    margin-bottom: 10px;
}
.right_area .middle_txt ul li:last-child{
    animation-delay: 1.2s;
}
.right_area .middle_txt ul li::before{
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #fff;

}



.right_area .bottom_area{
    display: flex; 
    width: 90%;
    justify-content: space-between;
    margin-top: 4%;
    
}

.right_area .bottom_area .custom_btn{
    border: 2px solid #fff;
}
.right_area .bottom_area .custom_btn a{
    display: block;
    padding: 10px 50px;
}

.right_area .bottom_area .down_btn{
    background-color: #38a385;
}
.right_area .bottom_area .down_btn a{
    display: block;
    padding: 10px 20px;
}

.right_area .bottom_area .price span{
    font-size: 24px;
    line-height: 42px;
    
}






/*slick-arrow*/
/*
.main .slick-prev{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    visibility: hidden;
}
.main .slick-prev::after{
    content: "<";
    font-size: 50px;
    visibility: visible;
    color: #fff;
}

.main .slick-next{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;

}
.main .slick-next::before{
    content: ">";
    font-size: 50px;
    visibility: visible;
    color: #fff;
}
*/

/*slick-arrow*/

.main .slick-arrow{
    position: absolute;
    left: -2%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 0;
    visibility: hidden;

}

.main .slick-next{
    right:-2%;
    left:auto;
}
.main .slick-next::after{
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #38a385;
    visibility: visible;
    font-size: 50px;
}

.main .slick-prev::after{
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #38a385;
    visibility: visible;
    font-size: 50px;
}









.left_area .vespa_tit{
    position: absolute;
    left: 0;
    top: 120px;
    z-index: -1;
    
}
.left_area .vespa_tit h2{
    font-size: 135px;
    color: rgba(255, 255, 255, 0.8);
}
.left_area .vespa_tit p{
    font-size: 19px;
    color: #fff;
    letter-spacing: 19px;
    text-align: center;
}















/*애니메이션*/
.main .slick-active .left_area .vespa_img{
    animation: fadeInL 0.5s 0.5s both;
}
.main .slick-active .vespa_tit h2{
    animation: fadeInT 0.5s 0.9s both;
}
.main .slick-active .vespa_tit p{
    animation: fadeInT 0.5s 1.3s both;
}
.slick-active .right_area .middle_txt ul li{
    animation: fadeInL 0.5s 1s both;
}
.slick-active .right_area .bottom_area .custom_btn{
    animation: fadeInR 0.5s 1.4s both;
}


.slick-active .right_area .bottom_area .down_btn{
    animation: fadeInR 0.5s 1.6s both;
}
.slick-active .right_area .bottom_area .price{
    animation: fadeInR 0.5s 1.9s both;
}


/*애니메이션*/
@keyframes fadeInR{
    0%{transform: translateX(150%); opacity: 0;}
    100%{transform: translateX(0%); opacity: 1;}
}

@keyframes fadeInL{
    0%{transform: translateX(-150%); opacity: 0;}
    100%{transform: translateX(0%); opacity: 1;}
}

@keyframes fadeInT{
    0%{transform: translateY(-150%); opacity: 0;}
    100%{transform: translateY(0%); opacity: 1;}
}



