<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>
        <div class="container">
            <div class="wrap_cont">

                <div class="gnb">
                    <ul>
                        <li>login</li>
                        <li>join</li>
                        <li>search</li>

                    </ul>

                </div>
                <!--gnb end-->

                <div class="logo">logo</div>
                <!--logo end-->

            </div>
            <!--wrap cont end-->
        </div>
    </header>
    <!--header end-->
    <nav>
        <div class="container">
            <div class="wrap_lnb">
                <div class="lnb">
                    <ul>
                        <li class="menu">menu01</li>
                        <li class="menu">menu02</li>
                        <li class="menu">menu03</li>
                        <li class="menu">menu04</li>
                        <li class="menu">menu05</li>
                    </ul>
                </div>
                <!--lnb end-->
            </div>
            <!--wrap_lnb end-->
        </div>
        <!--container end-->
    </nav>
    <main>
        <div class="container">
            <div class="visual_main">
                visual_main
            </div>
            <!--visual main end-->
        </div>
        <!--container end-->
    </main>

    <div class="event ">
        <div class="container">
            <div class="event_wrap clearfix">
                <div class="event1">event1</div>
                <div class="event2">
                    <div class="event2-1">event2-1</div>
                    <div class="event2-2">event2-2</div>
                </div>
                <!--evnet2 end-->
            </div>
            <!--evnet wrap end-->
        </div>
        <!--container end-->
    </div>
    <div class="product">
        <div class="container">
            <div class="product_wrap clearfix">
                <div class="pdc1">
                    <div class="back-green1">
                        <div class="pdc1-1">
                            <div class="pdc0 pdcm ">product1</div>
                            <div class="pdc0 pdcb">product2</div>
                        </div>
                        <!--pdc1-1 end-->
                    </div>
                    <!--back-green end-->
                    <div class="back-green2">
                        <div class="pdc1-2">
                            <div class="pdc9 pdcm">product3</div>
                            <div class="pdc9">product4</div>
                        </div>
                        <!--pdc 1-2 end-->
                    </div><!--backgreen end-->
                </div><!--pdc1 end-->
                <div class="pdc5">pdc5</div>
            </div>
            <!--product wrap end-->
        </div>
        <!--container end-->

    </div>
    <!--product end-->

    <div class="wide_banner">
        
            <div class="wideban">
                wide_banner
            </div>
        
    </div><!--wide banner end-->

    <div class="best">
        <div class="container">
            <div class="best_first">
                <div class="best_l"></div>
                <div class="best_r">
                    <ul>
                        <li>best01</li>
                        <li>best02</li>
                        <li>best03</li>
                        <li>best04</li>
                        <li>best05</li>
                        <li>best06</li>
                        <li>best07</li>
                        <li>best08</li>
                    </ul>
                </div><!--best r end-->
            </div><!--first end-->
            <div class="best_second">
                <ul>
                    <li>in01</li>
                    <li>in02</li>
                    <li>in03</li>
                    <li>in04</li>
                    <li>in05</li>
                    <li>in06</li>
                    <li>in07</li>
                    <li>in08</li>
                    <li>in09</li>
                    <li>in10</li>
                </ul>
            </div>
        </div><!--container end-->
    </div><!--best end-->

    <footer>
        <div class="container">
            <div class="footer_wrap">
                <div class="f_logo">logo</div>
                <div class="copyright">copyright</div>
            </div><!--footer wrap end-->
        </div><!--container end-->
    </footer>







</body>

</html>