@import url(basic.css);

.container{
    display: flex;
}
   

.item:nth-child(1){
    /*flex: 1;*/
    /*flex:1 1 0%;*/
    white-space: nowrap;
    width: 20%; 
    overflow: hidden; 
}
.item:nth-child(2){
    flex: 3;
    /*flex:3 1 0%;*/
    width: 60%;
}
.item:nth-child(3){
    flex: 1;
    /*flex:1 1 0%;*/
    width: 20%;  

}
