@charset "UTF-8";
@import url(reset.css); /*style.css에 reset.css 연결*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Hana B'; */
/*폰트연결*/

/*layout*/
#wrap{}
#header{
    background-color: #fff;
}
/*banner*/
#banner{
    background-color: #a0d1ee;
    height: 470px;

}
/*contents layout*/
#contents{}
#cont1{
    height: 940px;
    background-color: #f5f6f8;
    
}

/*container*/
.container{
    width: 1200px;
    margin: 0 auto;
    position: relative;/*ban_left 위치 기준*/
}

.clearfix::after{content: ""; clear: both; display: block;}

/*header*/
.header{
    font-family: 'Hana B';
}
.header li{
    margin: 7px 0;
    background: url(../img/bar1.gif) no-repeat 0px 8px; /*x,y축 이동*/
    
}
.header li a{
    font-size: 13px;
    display: block;
    padding: 8px 15px;
}


.header .list1{float: left;}
.header .list1 li{float: left;}
.header .list1 li:nth-child(2){/*2번째 li child*/
    background: none;
}
.header .list1 li.green{}
.header .list1 li.green a{
    background-color: #00907f;
    color: #fff;
    border-radius: 3px;
}

.header .list2{float: right;}
.header .list2 li{float: left;}
.header .list2 li a{
    color: #797979;
}
.header .list2 li.logo{
    margin: 11px 13px 11px 0;
}
.header .list2 li.logo a{
    border: 1px solid #ccc;
    padding: 3px 10px;
    border-radius: 3px;
    
}

/*banner*/
.ban_left{}
.ban_right{
    width: 600px;
    position: absolute;
    right: 0;
    top: 50px;
    
}
.ban_right .br_tit{
    background-color: #fff;
    padding: 45px 0 60px 100px;

}
.ban_right .br_tit h3{
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -1px; /*자간*/

}
.ban_right .br_tit  p{
    position: relative;
    font-size: 14px;
    padding-top: 50px;
}
.ban_right .br_tit p strong{
    color: #00907f;
}
.ban_right .br_tit  p::before{
    content: "";
    position: absolute;
    top: 24px; left: 0;
    width: 30px;
    height: 2px;
    background-color: #00907f;
    
}

.ban_right .br_tit .login_btn{
    position: absolute;
    right: 60px; top: 55px;

}
/*회원가입 로그인버튼*/
.ban_right .br_tit .login_btn ul{}
.ban_right .br_tit .login_btn ul li{}
.ban_right .br_tit .login_btn ul li a{
    display: block;
    width: 80px; height: 80px;
    font-size: 14px;
    text-align: center;
    color: #fff;
}
.ban_right .br_tit .login_btn ul li.lb1{
    margin-bottom: 1px;

}

.ban_right .br_tit .login_btn ul li.lb1 a{
    background: #db3360 url(../img/ico_login.png) no-repeat center 18px;
    padding-top: 50px;/*글자 이동하려면 패딩을 이용해야한다*/
    box-sizing: border-box;/*패딩탑 넣으면 넓이가 커짐 방지*/
    transition: 0.3s; /*hover 시간주기*/

}
.ban_right .br_tit .login_btn ul li.lb1 a:hover{background-color: #c4204c;}
.ban_right .br_tit .login_btn ul li.lb2 a{
    background: #333;
    transition: 0.3s;
    line-height: 80px;
}
.ban_right .br_tit .login_btn ul li.lb2 a:hover{
    background: #3c3f44;
}
/* 자식의 float에 의해 부모가 깨지는 현상 방지
1. :after를 사용하여 clear:both 적용
2. 부모에게 overflow:hidden 
3. 부모에게 강제로 높이를 준다 */

/*br_btn*/ 
.ban_right .br_btn{
    height: 50px;
    margin-top: 25px;
}
.ban_right .br_btn ul{
    overflow: hidden;
    background-color: #00907f;
}
.ban_right .br_btn ul li{
    float: left;
    font-size: 14px;
    line-height: 50px;
    position: relative; /*before의 기준*/
    width: 25%; 
    text-align: center;
}
.ban_right .br_btn ul li::before{
    content: "";
    position: absolute;
    left: 0; top: 18px;
    width: 1px; 
    height: 14px;
    background-color: #62bdb1;
}
.ban_right .br_btn ul li:first-child::before{
    width: 0;height: 0; /*before의 첫째 자식 막대기 없애기*/
}

.ban_right .br_btn ul li a{
    color: #fff;
    display: block;
}

/*nav*/
#nav{
    position: absolute;
    left: 0; top: -50px;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    font-family: 'Hana B';
    padding: 30px 0;
}
#nav .gnb{
    padding-left: 60px;
    
}
#nav .gnb li{
    display: inline; /*옆으로 정렬됨*/
    /*lnline요소는 padding margin의 상하가 적용이 안된다 좌우는 적용이됨*/
    padding: 10px;
    
}
#nav .gnb li a{
    display: inline-block;
    padding: 10px 16px;
    font-size: 17px;
    transition: 0.3s;

}
#nav .gnb li a:hover{
    background-color: #00907f;
    color: #fff;
    border-radius: 3px;

}
#nav .gnb_right{
    position: absolute;
    right: 50px; top: 30px;
}
#nav .gnb_right li{
    float: left;
}
#nav .gnb_right li a{
    display: block;
    padding: 11px 20px;
    font-size: 14px;
}
#nav .gnb_right li.gr1{
    margin-right: 10px;
}
#nav .gnb_right li.gr1 a{
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    transition: 0.3s;
}
#nav .gnb_right li.gr1 a:hover{
    background-color: #f4f4f4;
    color: #000;
}
#nav .gnb_right li.gr2{}
#nav .gnb_right li.gr2 a{
    background-color: #404b57;
    color: #fff;
    border-radius: 3px;
    transition: 0.3s;
}
#nav .gnb_right li.gr2 a:hover{
    background-color: #000;

}

#nav .gnb_search{
    position: absolute;
    right: 290px;top: 25px;
    width: 50px; height: 50px;
    background: url(../img/gnb_search.png) no-repeat;
}
#nav .gnb_event{
    text-transform: uppercase; 
    /*대문자로변환
    capitalize 첫글자만 대문자
    lowercase 모두 소문자
    uppercas 모두 대문자 */
    position: absolute;
    left: 20px; top:-35px;
    background-color:  #3c3f44;
    color: #fff;
    font-size: 14px;
    padding: 3px 23px 2px;
    line-height: 30px;
}