*{
    margin: 0; padding: 0;
}

.치료::after{content: ""; clear: both; display: block;} /*깨짐방지*/

.박일수{
    background-color: #89C4E1; 
    width: 1000px;
   /*  margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;

    padding: 20px; /*상하좌우여백*/
    padding:20px 40px; /*20px:상하여백  40px: 좌우여백*/
    padding:20px 40px 50px; /*20:상 40:좌우 50:하*/
    padding: 10px 20px 30px 40px; /*10:상 20:우 30:하 40:좌*/
}


.박일수 .박첫째{
    
    background-color:beige;
    padding: 20px;

}
.박일수 .박첫째 .자식{
    width: 49%;
    height: 200px;
    float: left;
}
.박일수 .박첫째 .자식.첫째자식1{
    background-color: #68B984;
    margin-right: 2%;
    padding: 20px;
    box-sizing: border-box; /*width + padding + border 를 영역안으로 포함시킴*/
    border: 5px solid red;
  }
  .박일수 .박첫째 .자식.첫째자식2{
    background-color: #009EFF;

  }
  .박일수 .박첫째 .자식.첫째자식2 object{
    width: 100%; height: 100%;

  }



.박일수 .박둘째{background-color: burlywood;
    padding: 20px;
    margin-top: 30px; /*margin 30 0 0; 이랑 같음*/


}

.박일수 .박둘째>div{
    background-color:blanchedalmond;
    width: 23.5%;
    float: left;
    height: 100px;
    margin-right: 2%;

}
.박일수 .박둘째>div.둘째자식1{
    background-image: url(img.png);
    background-size: 50px;
    background-repeat: no-repeat; /*사진반복x*/
    background-position: center center; /* 사진위치변경 x축 y축 */
    transition: 0.3s;

}
.박일수 .박둘째>div.둘째자식1:hover{
    background-size: 100px;
    background-position: center center;
}
.박일수 .박둘째>div.둘째자식2{
    background: #ffb26b url(img2.png) no-repeat 65px 25px;
    background-size: 100px; 
    transition: 0.3s; /*이미지 바뀌는데 딜레이시간, 부드럽게 이미지변경 가능*/
    
}
.박일수 .박둘째>div.둘째자식2:hover{/* hover <-- 마우스 올리면 이미지 변경*/
    background-image: url(img5.png);
}
.박일수 .박둘째>div.둘째자식3{
    overflow:hidden;/*영억보다 큰 자식요소를 숨기기*/
}
.박일수 .박둘째>div.둘째자식3 iframe{
    width: 100%;


}
.박일수 .박둘째>div.둘째자식4{
    margin-right: 0; 
    overflow: hidden;
}
.박일수 .박둘째>div.둘째자식4 iframe{
    width: 100%;

}





.박일수 .박세째{
    background-color: chocolate;
    margin-top: 30px;
    padding: 20px;
    color: blue;
    font-size: 20px;
    text-align: center;
    line-height: 200px;  /*줄간격*/

}

.박일수 .박세째>div{
    background-color: gold;
    width: 32%; /*css에서 소수점아래 4자리수까지 인식*/
    height: 200px;
    float: left;
    margin-right: 2%;
    
}
.박일수 .박세째>div.세째자식1{}

.박일수 .박세째>div.세째자식2{}

.박일수 .박세째>div.세째자식3{
    margin-right: 0;
}

