@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

.clear::after {
    content: "";
    clear: both;
    display: block;
}

#전체 {
    background-color: blanchedalmond;
    padding: 20px;
    width: 800px;
    margin: 0 auto;
}

#전체 .첫째자식 {
    background-color: beige;

    padding: 20px;
}

#전체 .첫째자식 .첫째손자 {
    background-color: cadetblue;
    height: 200px;
    background-image: url(../image/img1.jpg);
    background-size: cover;
    background-position: center;
}

#전체 .첫째자식 .첫손2 {
    background-color: green;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    /*투명도*/
    transition: 0.3s;
    background-image: url(../image/img2.jpg);

}

#전체 .첫째자식:hover .첫손2 {
    opacity: 1;
}

#전체 .첫째자식 .wrap {
    position: relative;
}

#전체 .둘째자식 {
    background-color: burlywood;
    margin-top: 30px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;

}

#전체 .둘째자식 .둘째손자 {
    background-color: chocolate;
    /* width:100% 기본값;블럭요소*/
    /*자식은 부모의 padding에 침범하지 못한다*/
    position: absolute;
    /*left: 0; top: 0; right: 0; bottom: 0;은 height=100%; width=100%;과 같다*/
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#전체 .둘째자식 {
    margin-bottom: 50px;
    /*위아래 마진은 큰값이 우선적용 좌우 마진은 더해서적용*/
}

#전체 .셋째자식 {
    background-color: sandybrown;
    margin-top: 30px;
}

#전체 .셋째자식>div {
    background-color: tan;
    width: 40%;
    margin: 0 5%;
    /*상하 0 좌우 5%*/
    float: left;
}

/*ol ul의 자식요소는 li만 가능하다*/
#전체 .셋째자식>div ol {
    list-style-type: upper-alpha;
}

#전체 .셋째자식>div ul {
    list-style: square;
}

#전체 .셋째자식>div li {
    border: 1px solid gray;
}

#전체 .넷째자식 {
    background-color: coral;
    margin-top: 30px;
    padding: 20px;
}

#전체 .넷째자식 .넷째손자 {
    background-color: darksalmon;
}

#전체 .넷째자식 .넷째손자 dt {
    background-color: darkolivegreen;
}

#전체 .넷째자식 .넷째손자 dd {
    background-color: khaki;
}